body{
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  width: 65rem;
  margin: 3rem auto 3rem auto;
}

h1,h2,h3{
  font-family: "Josefin Sans", sans-serif;
}

.story-text{
  font-size: 1.2rem;
}

.plot-container{
  position: relative;
}

.plot-container *{
  display: inline;
}

.buttons{
  position: absolute;
  right: 2rem;

}

.buttons button{
  display: block;
}


.axis text {
  font: 0.8rem sans-serif;
  text-rendering: optimizeLegibility;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

.citation-from{
  text-align: right;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

rect.box,
line.whisker {
  fill: #fff;
  stroke: #969696;
}

line.median{
  stroke: #3498DB;
  stroke-width: 0.3rem;
}

circle.outlier {
  fill: #fff;
  fill-opacity: 0.5;
  stroke: #ccc;;
}

.tooltip, .d3-tip{
  background: #fff;
  border-radius: 0.125rem;
  padding: 0.5rem;
  border: solid 0.1rem #000;
  opacity: 0.9;
  pointer-events: none;

}
